html {
  font-size: 87.5%;
  @include breakpoint(768px) { font-size: 100% }
}

body {
  font: 300 1em/1.5 "rooney-sans",sans-serif;
  background: $primary;
  color: $black;
}

.container {
  @include clearfix;
  padding: 0 $unit*1.5;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(1024px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.container-wide {
  max-width: auto;
  padding: $unit*2;
}

// "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Full Bleed
// ------------------------------------------------------------

%full-bleed {
  padding: 0;
}

// If you want a container to span from edge to edge,
// apply '%full-bleed;' like this:
//
//  .featured {
//    .container {
//      @extend %full-bleed;
//    }
//  }

// Padded section
// ------------------------------------------------------------

@mixin padded($padded: 2.5em) {
  padding-top: #{$padded};
  padding-bottom: #{$padded};
}


// Neat grid using Omega Reset
// ------------------------------------------------------------

.col {
  @include breakpoint(480px)  {
    @include span-columns(6);
    @include omega(2n);
  }
  @include breakpoint(768px)  {
    @include omega-reset(2n);
    @include span-columns(4);
    @include omega(3n);
  }
  @include breakpoint(1024px) {
    @include omega-reset(3n);
    @include span-columns(3);
    @include omega(4n);
  }
  @include breakpoint(1280px) {
    @include omega-reset(4n);
    @include span-columns(2);
    @include omega(6n);
  }
}

.col {
  text-align: center;
  color: #fff;
  background: #3498db;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}


h1, .h1 {
  font-size: 2.5em;
  line-height: 1.15;
  font-weight: 800;
  color: $secondary-dark;

  @include breakpoint(768px) {
    font-size: 3.5em;
  }
}
@mixin h1 {
  font-size: 2.5em;
  line-height: 1.25;
  font-weight: 800;
  color: $secondary-dark;

  @include breakpoint(768px) {
    font-size: 3.5em;
  }
}
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.25;
  font-weight: 800;
  margin: 2em 0 .5em;
  color: $secondary-dark;
}
h3, .h3 {
  font-size: 1.25em;
  line-height: 1.25;
  font-weight: 800;
  margin: 2em 0 .5em;
  color: $secondary-dark;
}

h4, .h4 {
  margin: 2em 0 1em;
}

// Fix this. Adjust font size on the <html> styles.
// <p>'s are too small on mobile
p {
  font-size: 1.125em;

  @include breakpoint(768px) { font-size: 1em }
}

// Fix this lame unclassed rule
ul {
  padding-left: $unit;

  li {
  }
}

.article-title {
  margin-top: $unit/2;
}

.article-date {
  margin: $unit*2 0 $unit;
  color: $secondary;
}

.intro {
  font-size: 1.5em;
  margin: 1.5em 0;
  font-style: italic;
}

.blockquote {
  padding-left: $unit;
  max-width: 24em;
  font-size: $unit*1.5;
  font-weight: 800;
  // font-style: italic;
  color: $secondary-accent;
  border-left: 5px solid $secondary;
}

// Code
// ------------------------------------------------------------

pre[class*="language-"] {
  position: relative;
  overflow: auto;
  padding: 1.25em;
  margin: $unit*2 0;
  border-radius: 6px;
  -webkit-overflow-scrolling: touch;
}

// Add: data-filename="author.scss" to <pre>
pre.filename {
  padding-top: $unit*3.5;
}
pre.filename:before {
  content: attr(data-filename);
  position: absolute;
  top: 0;
  left: 0;
  padding: $unit/2 $unit;
  width: 100%;
  background: $primary-dark;
}

code, kbd, pre, samp {
  font-family: "courier-prime", monospace;
  font-size: .95em;
}

// Inline code
p code {
  padding: .1em .375em;
  border-radius: .25em;
  color: $primary-light;
  background: lighten($primary, 75%);
}


// Site Header
// ------------------------------------------------------------

.site-header {
  background: $secondary;
  color: $white;
  text-align: center;
  border-top: 5px solid $secondary-dark;


  @include breakpoint(1024px) {
      width: 300px;
      position: fixed;
    }

}
  .logo-box {
    padding: $unit*2 $unit;

    @include breakpoint(1024px) {
      width: 300px;
      height: 270px;
    }
  }
  .site-avatar {
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 0 5px $secondary-light;

    img {
      display: block;
    }
  }
    .site-title {
      margin: .5em 0 0;
      font-size: 1.75em;
      text-transform: uppercase;
      color: $secondary-darker;

        a {
          color: inherit;
        }
    }
    .site-subtitle {
      margin: .5em 0 0;
      font-weight: 300;
      font-size: 1.125em;
      font-weight: 100;
      letter-spacing: 1px;
      color: $secondary-lighter;
    }

// Site Main
// ------------------------------------------------------------

.site-main {
  position: relative;
  background-color: $white-smoke;
  border-top: 5px solid $gray;

  // I don't like the specificity with .site-main .container {}
  // Refactor this later
  .container {
    max-width: 45em;
    padding: 0 2em 3em;
  }

  @include breakpoint(1024px) {
    min-height: 600px;
    margin-left: 300px;
  }
}

// .art-direction {
//   background-image: url(http://placehold.it/1100x300);
//   background-position: center top;
//   background-repeat: no-repeat;
// }

// Site Nav
// ------------------------------------------------------------

@mixin selected {
  color: $secondary;
  background: $primary-dark;

  i {
    color: $white-smoke;
  }

  @include breakpoint(1024px) {
    &:after {
      content: "";
      position: absolute;
      top: 45%;
      right: -5px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border: 5px solid $white-smoke;
    }
  }
}

.site-nav {
    @include clearfix;
    background: $primary;
    text-align: center;

  a {
    font-size: .875em;
    position: relative;
    display: block;
    float: left;
    width: 25%;
    padding: $unit*2.5 $unit $unit;
    color: $primary-lightest;

    @include breakpoint(480px) {
      font-size: 1.125em;
      padding: $unit;
    }

    &:hover {
      color: $secondary;
      background: $primary-dark;

      i {
        color: $white-smoke;
      }
    }

    i {
      font-size: 1.5em;
      position: absolute;
      top: $unit/2.5;
      left: 0;
      width: 100%;
      text-align: center;

      @include breakpoint(480px) {
        position: relative;
        top: auto;
        font-size: 1em;
        margin-right: $unit;
      }
    }

    @include breakpoint(1024px) {
      width: 100%;
      padding: $unit/1.5 $unit*2;
      padding-right: 0;
      float: none;
      text-align: left;
      border-bottom: 1px solid $primary-accent;
    }
  }
}


// Site Footer
// ------------------------------------------------------------

.site-footer {
  padding: 1.5em 0;
  background: darken($white-smoke,5%);
  border-top: 1px solid $gray;
  border-bottom: 5px solid darken($gray,20%);
  @include breakpoint(480px) {
      padding: 0;
  }
  @include breakpoint(1024px) {
      margin-left: 300px;
  }
}

.sosumi {
  margin: .5em 0;
  text-align: center;

  @include breakpoint(480px) {
    margin: 0;
    padding: 1.5em;
    padding-left: 0;
    float: left;
    // border-right: 1px solid $gray;
  }
}


// Social
// ------------------------------------------------------------

.social {
  text-align: center;

  @include breakpoint(480px) {
    float: right;
    margin-right: -1.5em;

    a {
      float: left;
      border-right: 1px solid $gray;

      &:first-of-type {
        border-left: 1px solid $gray;
      }
    }
  }

  a {
    padding: .1em .675em;
    font-size: 2em;
    line-height: 2;
    color: $primary;

    @include transition ( color .75s );

    &:hover {
      @include transition ( color 0 );
    }

    span {
      font-size: 0;
      line-height: 0;
      position: absolute;
    }
  }
}

.twitter:hover { color: #00a0d1 }
.github:hover { color: #4183c4 }
.codepen:hover { color: #EF6907 }


// Button Styles
// ------------------------------------------------------------

.button {
  display: inline-block;
  margin: $unit 0;
  padding: $unit;
  color: $white;
  background: $action;

  &:hover {
    color: $white;
    background: $action-hover;
  }
}

// Homepage
// ------------------------------------------------------------

.entries {
  margin: 0;
  padding: 0;
  list-style: none;

  .entry {
    position: relative;
    margin: 0;
    border-bottom: 1px solid $gray;

    .container {
      padding-right: $unit*5;
    }

    .entry-icon {
      font-size: 2em;
      position: absolute;
      top: 40%;
      right: $unit;
      color: $secondary-lighter;
    }

    &:hover {
      .article-date {
        color: $action;
      }
      .entry-post-title {
        color: $action;
      }
      .entry-icon {
        color: $action;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    .entry-post-title {
      font-size: 2em;
      margin: 0;

    }
    .entry-exerpt {
      margin: $unit/2 0 0;
      color: $primary;
      font-size: $unit*1.25;
      font-weight: 300;
      font-style: italic;
    }
  }
}


// Article
// ------------------------------------------------------------

// .article-header {
//   padding: $unit $unit*1.5;
//   border-bottom: 1px solid $secondary;
// }
// .article-header-title {
//   margin: 0;
//   font-size: 1em;
//   line-height: 1;
//   font-weight: 300;
// }
// <header class="article-header">
//   <p class="article-header-title">July 21, 2013</p>
// </header>


//
// Work on the header util. Like the footer.
//
// .article-header {
//   @include clearfix;
//   border-bottom: 1px solid $gray;
// }


// Page Header
// ------------------------------------------------------------

.page-header {
  padding: $unit;
  background: $light-gray;
  border-bottom: 1px solid $gray;

  .container {
    padding: 0 2em;
  }
}
.page-header-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
}


// Current page - selected state
// ------------------------------------------------------------

body.nav .home { @include selected }
body.portfolio .portfolio { @include selected }
body.about .about { @include selected }
body.archives .archives { @include selected }

// Fix this later
// Figure out how to have the homepage output a unique class

body.nav.portfolio .home,
body.nav.about .home,
body.nav.archives .home {
  color: $primary-lightest;
  background: $primary;
  i {
    color: $primary-lightest;
  }
  &:after {
    display: none;
  }
  &:hover {
    color: $secondary;
    background: $primary-dark;

    i {
      color: $white-smoke;
    }
  }
}


// Portfolio
// ------------------------------------------------------------

.portfolio-items {
  @include clearfix;
}

// portfolio grid

.potfolio-item {
  margin: 0 0 4.5%;
  background: #000;

  @include breakpoint(480px)  {
    @include span-columns(6);
    @include omega(2n);

    img {
      @include breakpoint(1024) {
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
        -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
        transition: transform 0.4s, opacity 0.1s 0.3s;

        opacity: .75;
        transition: .5s;

        &:hover {
          opacity: 1;
          // -webkit-transform: scale(1.025);
          -webkit-transform: translateY(-7%);
          -moz-transform: translateY(-7%);
          -ms-transform: translateY(-7%);
          transform: translateY(-7%);
          -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
          -moz-transition: -moz-transform 0.4s, opacity 0.1s;
          transition: transform 0.4s, opacity 0.1s;
        }
      }
    }
  }
  @include breakpoint(1280px) {
      @include omega-reset(2n);
      @include span-columns(4);
      @include omega(3n);
    }
  // @include breakpoint(768px)  {
  //   @include omega-reset(2n);
  //   @include span-columns(4);
  //   @include omega(3n);
  // }
  // @include breakpoint(1024px) {
  //   @include omega-reset(3n);
  //   @include span-columns(6);
  //   @include omega(2n);
  // }
  // @include breakpoint(1280px) {
  //   @include omega-reset(2n);
  //   @include span-columns(4);
  //   @include omega(3n);
  // }

  img {
    display: block;
  }
}

.portfolio-img {
  border: 5px solid $white;
  width: 100%;
}

// Portfolio hover effects
// ------------------------------------------------------------

// <div class="potfolio-item">
//   <figure>
//     <img src="{{ post.image }}" alt="{{ post.title }}">
//     <figcaption>
//       <h3>Settings</h3>
//       <span>Jacob Cummings</span>
//       <a href="{{ post.url }}">Take a look</a>
//     </figcaption>
//   </figure>
// </div>

// .potfolio-item {

//   figure {
//     position: relative;
//     overflow: hidden;

//     img {
//       -webkit-transition: -webkit-transform 0.4s;
//       -moz-transition: -moz-transform 0.4s;
//       transition: transform 0.4s;
//     }
//     &:hover img {
//       -webkit-transform: translateY(-50px);
//       -moz-transform: translateY(-50px);
//       -ms-transform: translateY(-50px);
//       transform: translateY(-50px);
//     }
//     figcaption {
//       height: 100px;
//       width: 100%;
//       top: auto;
//       bottom: 0;
//       opacity: 0;
//       -webkit-transform: translateY(100%);
//       -moz-transform: translateY(100%);
//       -ms-transform: translateY(100%);
//       transform: translateY(100%);
//       -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
//       -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
//       transition: transform 0.4s, opacity 0.1s 0.3s;
//     }
//     &:hover figcaption {
//       opacity: 1;
//       -webkit-transform: translateY(0px);
//       -moz-transform: translateY(0px);
//       -ms-transform: translateY(0px);
//       transform: translateY(0px);
//       -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
//       -moz-transition: -moz-transform 0.4s, opacity 0.1s;
//       transition: transform 0.4s, opacity 0.1s;
//     }
//   }
// }

// figcaption a {
//   position: absolute;
//   bottom: 20px;
//   right: 20px;
// }

// figcaption {
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 20px;
//   background: #2c3f52;
//   color: #ed4e6e;
// }

// figcaption h3 {
//   margin: 0;
//   padding: 0;
//   color: #fff;
// }

// figcaption span:before {
//   content: 'by ';
// }

// figcaption a {
//   text-align: center;
//   padding: 5px 10px;
//   border-radius: 2px;
//   display: inline-block;
//   background: #ed4e6e;
//   color: #fff;
// }


.potfolio-item {
  position: relative;
  overflow: hidden;

  img {
    display: block;
  }
  .potfolio-item-wrap {

    position: absolute;
    bottom: 0;
    width: 100%;
    color: $white-smoke;
    background: $primary;

    @include breakpoint(1280px) {
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
      transition: transform 0.4s, opacity 0.1s 0.3s;
    }

    .potfolio-item-title {
      margin: 0;
      padding: $unit;
      font-size: 1em;
      font-weight: 300;
      color: inherit;
    }
  }
  &:hover .potfolio-item-wrap {
    @include breakpoint(1280px) {
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
      -moz-transition: -moz-transform 0.4s, opacity 0.1s;
      transition: transform 0.4s, opacity 0.1s;
    }
  }
}

.portfolio-title {
  margin: $unit/1.5 0;
}
