/*	Blog entry listing
----------------------------------------------------------------------------- */
.entries {
	list-style: none;
	margin: 0;
	padding: 0;

	li a {
		display: block;
		padding: 1em;
		color: #000;

		&:hover {
			text-decoration: none;
			background: #f2f2f2;
		}
	}

	h3 {
		margin-bottom: 0;
		font-weight: 100;
	}
}