// ------------------------------------------------------------
// Media queries
// ------------------------------------------------------------
//
// Useage:
//
// @include breakpoint(480px)  {}
// @include breakpoint(768px)  {}
// @include breakpoint(1024px) {}
// @include breakpoint(1280px) {}
//
// ------------------------------------------------------------

@mixin breakpoint($point) {
  @if $point == 480px {
    @media (min-width: 30em) { @content; }
  }
  @else if $point == 768px {
    @media (min-width: 48em) { @content; }
  }
  @else if $point == 1024px {
    @media (min-width: 60em)  { @content; }
  }
  @else if $point == 1280px {
    @media (min-width: 80em)  { @content; }
  }
}

// ------------------------------------------------------------
// Omega Reset for Bourbon Neat
// ------------------------------------------------------------
//
// Allows you to reset omega() styles on new media queries
// when you need to change the number of columns
//
// Useage:
//
// @include breakpoint(480px)  {
//  @include span-columns(6);
//  @include omega(2n);
// }
// @include breakpoint(768px)  {
//  @include omega-reset(2n);
//  @include span-columns(4);
//  @include omega(3n);
// }
//
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
