// Reset
// ------------------------------------------------------------

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: $selection-color;
  text-shadow: none;
}

a {
  color: $link-color;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: $link-hover-color;
  }

  img {
    border: none;
  }
}

img {
  max-width: 100%;
  height: auto!important;
}


// nav ul's
// ------------------------------------------------------------

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

// Helpers
// ------------------------------------------------------------
