.social {
	text-align: center;

	a {
		@include inline-block;
		padding: 0 .375em;
		font-size: 2em;
		line-height: 1.25;

		// TODO: Define color variables
		color: #222;
		
		@include transition ( color .75s );

		&:hover {
			@include transition ( color 0 );
		}

		span {
			@include hide-text;
		}
	}
}

.twitter:hover { color: #00a0d1 }
.github:hover { color: #4183c4 }
.codepen:hover { color: #EF6907 }
.forrst:hover { color: #5b9a68 }
.zootool:hover { color: #5e8b1d }