// Variables
// ------------------------------------------------------------


// Colors

$primary : #161e27;
$primary-accent : lighten($primary, 5%);
$primary-light : lighten($primary, 20%);
$primary-lighter : lighten($primary, 35%);
$primary-lightest : lighten($primary, 60%);
$primary-dark : darken($primary,5%);

$secondary : #00ab88;
$secondary-accent : lighten($secondary, 5%);
$secondary-light : lighten($secondary, 10%);
$secondary-lighter : lighten($secondary, 25%);
$secondary-dark : darken($secondary, 10%);
$secondary-darker : darken($secondary, 20%);

$light-black : #444;
$black : #000;
$light-gray : #ddd;
$gray : #ccc;
$dark-gray : #999;
$white-smoke : #eee;
$white : #fff;

// Buttons

$action : #3498db;
$action-hover : darken($action,10%);

$link-color : blue;
$link-hover-color : darken($link-color, 10%);

$selection-color : $secondary;


// Grid Settings

$unit : 1em;
$container-max-width  : 68.75em; // 68.75em = 1000px / 75em = 1200px


// Dev Mode

$dev-mode : false;
