// -------------------------------------------------------------------
// Media query helper
// -------------------------------------------------------------------

@mixin media-query-helper {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  padding: .5em .75em;
  font-family: monospace;
  font-size: 1em;
  line-height: 1;
  color: #20D832;
  background: rgba(0,0,0,.7);
  border-top-left-radius: 3px;
}

@if $show_media_queries == true {

  $starting-at: 30em;
  $increment-by: 5em;

  $start: floor($starting-at/$increment-by);
  $finish: floor($max-width/$increment-by);

  body {
    &:before {
      @include media-query-helper;

      @for $i from $start through $finish {
        @media(min-width: #{$i * $increment-by}) {
          content: "#{$i * $increment-by}";
        }
      }
    }
  }
}
