// -------------------------------------------------------------------
// Base
// -------------------------------------------------------------------

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base_font_family;
  font-size: $base_font_size;
  line-height: $base_line_height;
  color: $base_font_color;
  background-color: $base_body_color;
}

img {
  margin: 0;
  max-width: 100%;
  height: auto;

  // Remove space below img
  &.img {
    display: block;
  }
}

a {
  color: $link_color;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: $link_hover_color;
  }
  &:active, &:focus {
    color: $link_hover_color;
    outline: none;
  }
}
