// -------------------------------------------------------------------
// Container
// -------------------------------------------------------------------

.container {
  @include outer-container;
  padding-left: 1.5em;
  padding-right: 1.5em;

  @include media($container+$unit*3) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Alt container sizes
// -------------------------------------------------------------------

.container--narrow {
  @extend .container;
  max-width: $container-narrow;
}
.container--super-narrow {
  @extend .container;
  max-width: $container-super-narrow;
}
.container--mobile {
  @extend .container;
  max-width: $container-mobile;
}

@mixin container {
  @extend .container;
}
