---
title: work
---

<div class="portfolio">

  <figure class="item">
    <a href="#">
      <img src="/assets/img/portfolio/bayphoto-thumb.jpg" alt="Bay Photo">
      <figcaption class="details">
        <h2 class="title">Bay Photo</h2>
      </figcaption>
    </a>
  </figure>

  <figure class="item">
    <a href="http://montereybayaquarium.org">
      <img src="/assets/img/portfolio/mba-thumb.png" alt="Monterey Bay Aquarium Website">
      <figcaption class="details">
        <h2 class="title">Monterey Bay Aquarium Website</h2>
      </figcaption>
    </a>
  </figure>

  <figure class="item">
    <a href="http://mobile.seafoodwatch.org">
      <img src="/assets/img/portfolio/seafood_watch-thumb.png" alt="Seafood Watch Mobile">
      <figcaption class="details">
        <h2 class="title">Seafood Watch Mobile</h2>
      </figcaption>
    </a>
  </figure>

  <figure class="item">
    <a href="http://www.sandiegocoffee.com">
      <img src="/assets/img/portfolio/sd_coffee-thumb.jpg" alt="San Diego Coffee Co">
      <figcaption class="details">
        <h2 class="title">San Diego Coffee Co</h2>
      </figcaption>
    </a>
  </figure>

</div>
