// -------------------------------------------------------------------
// Author
// -------------------------------------------------------------------

.container {
  @include outer-container;
  padding: 0 $base_line_height;
}

h1 ,h2,h3,
h4,h5,h6,
.h {
  font-family: $header_font_family;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-family: $base_font_family;
  font-size: 2em;
}

.j {
  font-size: em(30);
}

.h.light {
  margin-top: 0;
  font-size: em(20);
  font-weight: 400;
}

a {
  color: #2ecc71;
}


p {
  font-size: em(21);
  line-height: em(30, 21);
  margin-bottom: em(30, 21);
}
