<nav class="social">
  <ul>
    <li><a href="http://twitter.com/joshfry" class="twitter" target="_blank">
      <i class="fa fa-twitter"></i>
      <span>Twitter</span></a>
    </li>
    <li><a href="http://github.com/joshfry" class="github" target="_blank">
      <i class="fa fa-github"></i>
      <span>GitHub</span></a>
    </li>
    <li><a href="http://codepen.io/joshfry" class="codepen" target="_blank">
      <i class="fa fa-codepen"></i>
      <span>Codepen</span></a>
    </li>
    <li><a href="https://dribbble.com/joshfry" class="dribbble" target="_blank">
      <i class="fa fa-dribbble"></i>
      <span>Dribbble</span></a>
    </li>
    <li><a href="https://www.facebook.com/josh.fry.35513" class="facebook" target="_blank">
      <i class="fa fa-facebook"></i>
      <span>Facebook</span></a>
    </li>
  </ul>
</nav>
