---
title: about
pageTitle: Hello!
---

{{#markdown}}

<p class="intro">I am a front-end web developer and designer working at the [Monterey Bay Aquarium](http://montereybayaquarium.org).</p>

## Currently excited about:

- Front-end tools
- Gruntjs
- Assemble.io
- Sass
- Ruby
- Rails

{{/markdown}}
