---
title: about
pageTitle: Yo yo yo,
---

{{#markdown}}

<p class="intro">I am currently a web developer at Bay Photo Lab.</p>

### Excited about:

- Object Oriented Programming
- Javascript
- Middleman
- Sass
- Ruby
- Rails
- Grunt

### Wishing I:

- Had more time to write about stuff

{{/markdown}}
