// -------------------------------------------------------------------
// Base
// -------------------------------------------------------------------

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  @include proxima_nova_regular;
  height: 100%;
  font-size: $base_font_size;
  line-height: $base_line_height;
  color: $light_black;
}

img, canvas, iframe, video, svg {
  max-width: 100%;
}

img {
  max-height: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: $link_color;

  &:hover {
    color: $link_hover_color;
  }
}

.container {
  margin: 0 auto;
  padding: 0 $container_padding;

  @media (min-width: $max-width + $container_padding*2) {
    padding: 0 calc(50% - #{$max_width/2});
  }
}

// Wrap tables or pre elements
// in a div with this class
.overflow-container {
  overflow-y: scroll;
}
