// -------------------------------------------------------------------
// Buttons
// -------------------------------------------------------------------

// Remove button defaults
@mixin button_reset {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

// Base button styles
%button {
  @include button_reset;

  position: relative;
  display: inline-block;
  border: none;
  border-radius: 3px;
  vertical-align: top;
  cursor: pointer;
  text-align: center;

  // overflow: hidden;
  // white-space: nowrap;
  // -o-text-overflow: ellipsis;
  //    text-overflow: ellipsis;

  width: 100%;
  margin: 0 0 em(16) 0;
  padding: em(6) em(8);

  @include media(30em) {
    width: auto;
    margin-right: em(16);
    padding-left: em(16);
    padding-right: em(16);
  }

  &:focus {
    outline: none;
  }

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: default;
    pointer-events: none;
  }
}

// Standard colors

$btn_bg: $primary;
$btn_bg_hover: darken($btn_bg,10);
$btn_color: $white;
$btn_color_hover: $btn_color;

// Button colors and settings
@mixin button ($btn_bg: $btn_bg, $btn_color: $btn_color, $btn_bg_hover: $btn_bg_hover, $btn_color_hover: $btn_color_hover) {
  color: $btn_color;
  background: $btn_bg;
  box-shadow: inset 0 -2px 0 $btn_bg_hover;

  &:hover, &.hover,
  &:active, &.is-active {
    color: $btn_color_hover;
    background-color: $btn_bg_hover;
  }
}

@mixin button_alt ($btn_bg: $btn_bg, $btn_color: $btn_color, $btn_bg_hover: $btn_bg_hover, $btn_color_hover: $btn_color_hover) {
  color: $btn_bg;
  background: none;
  box-shadow: inset 0 0 0 2px $btn_bg;

  &:hover, &.hover,
  &:active, &.is-active {
    color: $btn_color_hover;
    background-color: $btn_bg_hover;
    box-shadow: inset 0 0 0 2px $btn_bg_hover;
  }
}

@mixin unbutton ($btn_color: $btn_bg, $btn_color_hover: $btn_bg_hover) {
  color: $btn_color;
  background: none;

  &:hover, &.hover,
  &:active, &.is-active {
    color: $btn_color_hover;
  }
}

// All button inputs
#{$all-button-inputs} {
  @extend %button;
  // For Chrome
  line-height: 1.5;

  // For Firefox
  @-moz-document url-prefix() {
    padding-top: em(8);
    padding-bottom: em(8);
  }
}

// All types of buttons

#{$all-button-inputs},
button,
.button,
.btn {
  @extend %button;
  @include button;

  &.alt {
    @include button_alt;
  }

  // NEW -- testing this out
  &.flush {
    margin-bottom: 0;
  }

  &.stop {
      @include button($error_color, $white, darken($error_color,10), $white);
    &.alt {
      @include button_alt($error_color, $white, darken($error_color,10), $white);
    }
  }

  &.go {
      @include button($success_color, $white, darken($success_color,10), $white);
    &.alt {
      @include button_alt($success_color, $white, darken($success_color,10), $white);
    }
  }
}

.unbutton {
  @extend %button;
  @include unbutton;

  &.flush {
    margin-bottom: 0; // Not sure why extending `button` doesn't carry this over
  }

  &.stop {
    @include unbutton($error_color, darken($error_color,10));
  }
  &.go {
    @include unbutton($success_color, darken($success_color,10));
  }
}
