// -------------------------------------------------------------------
// Typekit Fonts
//
// Kit Name: Marketing Site
// Kit ID:   mxk0ete
// -------------------------------------------------------------------

$proxima_nova: "proxima-nova", $helvetica;
$font_weight_light: 300;
$font_weight_regular: 400;
$font_weight_bold: 700;

$proxima_nova_extra_condensed: "proxima-nova-extra-condensed", $helvetica;

// -------------------------------------------------------------------

// Proxima Nova
// ============

%proxima_nova {
  font-family: $proxima_nova;
}

  @mixin proxima_nova_light {
    @extend %proxima_nova;
    font-weight: $font_weight_light;
  }

  @mixin proxima_nova_regular {
    @extend %proxima_nova;
    font-weight: $font_weight_regular;
  }

  @mixin proxima_nova_bold {
    @extend %proxima_nova;
    font-weight: $font_weight_bold;
  }

// Proxima Nova Condensed
// ======================

%proxima_nova_extra_condensed {
  font-family: $proxima_nova_extra_condensed;
}

  @mixin proxima_nova_extra_condensed_regular {
    @extend %proxima_nova_extra_condensed;
    font-weight: $font_weight_regular;
  }
