// -------------------------------------------------------------------
// Variables
// -------------------------------------------------------------------

// Dev

$show_media_queries: false;

// Settings

$em_base: 14; // use of the `em()` function is based on 14px

$base_font_size: 14px;
$base_line_height: 1.5;

$max_width: 75em;
$container_padding: 1.5em;

// Colors
///////////////////////////////////////////////////////////////////////////////

$bay_red: #ec2b2f;
$bay_orange: #f1943f;
$bay_blue: #00a7e1;
$bay_dark_blue: #0e76bc;
$bay_yellow: #f8bf32;
$bay_green: #56a644;

$primary: $bay_blue;
$secondary: $bay_dark_blue;
$tertiary: $bay_orange;

$black: #000;
$light_black: #444;

$gray: #ccc;
$dark_gray: #333;
$medium_gray: #999;
$light_gray: #ddd;

$white: #fff;
$white_smoke: #eee;
$light_smoke: #f5f5f5;

$red: #e74c3c;
$blue: #0b7bb7;
$green: #2ecc71;
$yellow: #f1c40f;

$error_color: $red;
$notice_color: #3498db;
$success_color: $green;
$alert_color: $yellow;

// Text Link Colors

$link_color: $primary;
$link_hover_color: $tertiary;
