---
date: 2013-05-13
title: omega reset for bourbon neat
description: A Sass mixin for Bourbon Neat that let's you change the number of columns at any breakpoint.
category: notes
tags: sass, bourbon, bourbon neat, mixin, frontend
published: true
sortOrder: 9002
---

{{#markdown}}

<div style="border: 2px solid #268BD2; padding: 1em; text-align: center; color: #268BD2">
  **Updated April 23, 2014:** New Neat syntax for declaring media queries `@include media(){}`
</div>

> This mixin assumes you are designing mobile-first using min-width media queries and using [Sass](http://sass-lang.com), [Bourbon](http://bourbon.io) and [Bourbon Neat](http://neat.bourbon.io) in your project.

## The Senario

Your design needs a grid layout with one column on mobile. As the viewport gets larger, the number of columns need to increase.

For instance, at `min-width: 30em` the design uses a 2 column layout:

``` scss
.grid {
  > div {
    @include media(30em) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}
```

By using `@include omega(2n)` Bourbon Neat gives `.grid > div:last-child { margin-right: 0 }` and the `.grid > div:nth(2n+1) { clear:left }`

Now, moving on to a 3 column layout at `min-width: 48em`:

``` scss
.grid {
  > div {
    @include media(48em) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}
```

The problem is that the `@include omega(2n)` mixin from earlier is inherited and breaks the 3 column layout. It `needs to be reset and changed to `@include omega(3n)`.

## A Solution

`@include omega-reset` allows you to reset the `@include omega()` styles on new media queries so that you can change the number of columns in your design.

```scss
// ------------------------------------------------------------
// Omega Reset Mixin
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
```

#### For this to work, you'll need to add or update [Bourbon Neat's grid settings](https://github.com/thoughtbot/neat#getting-started).

Set [Bourbon's Flex Grid variables](http://bourbon.io/docs/#flex-grid) `$fg-column` and `$fg-gutter` to match what Bourbon Neat is doing:

```scss
// ------------------------------------------------------------
// _grid-settings.scss
// See: https://github.com/thoughtbot/neat#getting-started
// ------------------------------------------------------------

$fg-column: $column;
$fg-gutter: $gutter;
```

## Usage

Reset the number passed to `@include omega()` from the previous media query into your new media query when changing the number of columns.

```scss
// ------------------------------------------------------------
// A Neat grid using Omega Reset
// ------------------------------------------------------------

.grid {
  > div {
    @include media(30em)  {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media(48em)  {
      @include omega-reset(2n); // Reset previous @include omega()
      @include span-columns(4);
      @include omega(3n);
    }
    @include media(64em) {
      @include omega-reset(3n); // Reset previous @include omega()
      @include span-columns(3);
      @include omega(4n);
    }
    @include media(80em) {
      @include omega-reset(4n); // Reset previous @include omega()
      @include span-columns(2);
      @include omega(6n);
    }
  }
}
```

{{/markdown}}

<div class="vert-sep">
  <a class="button" href="https://github.com/joshfry/omega-reset-for-bourbon-neat" target="_blank">View on Github</a>
</div>
