<p class="copyright">&copy; {{now "%Y"}} | Made by <i class="icon-high_voltage"></i> <a href="https://twitter.com/joshfry" target="_blank">@joshfry</a></p>

<div class="social">
  <nav>
    <a href="http://github.com/joshfry" class="github" target="_blank">
      <i class="social-icon-github"></i>
      <span>GitHub</span></a>
    <a href="http://codepen.io/joshfry" class="codepen" target="_blank">
      <i class="social-icon-codepen"></i>
      <span>Codepen</span></a>
    <a href="http://twitter.com/joshfry" class="twitter" target="_blank">
      <i class="social-icon-twitter"></i>
      <span>Twitter</span></a>
  </nav>
</div>
