<a class="branding" href="/">
  <div class="container">
    <img class="site-logo" src="{{assets}}/img/josh-avatar.png" alt="Josh Fry" width="100" height="100">
    <h1 class="title">Josh Fry</h1>
    <h2 class="subtitle">Front-end dev &amp; design</h2>
  </div>
</a>

{{> nav }}
