<nav class="site-nav" role="navigation">
  <div class="container">
    <div class="nav-links">
      <a{{#is basename "index"}} class="active"{{/is}} href="/"><i class="icon-home"></i> Home</a>
      <a{{#is basename "about"}} class="active"{{/is}} href="/about"><i class="icon-eye"></i> About</a>
      <a{{#is basename "portfolio"}} class="active"{{/is}} href="/portfolio"><i class="icon-eye"></i> Portfolio</a>
      <div class="mobile-menu"><i class="icon icon-reorder"></i></div>
    </div>
  </div>
</nav>
